Repository animolina/IntegrationProyectCTD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-frontend-job, deploy-backend-job

deploy-frontend-job:
  stage: deploy
  script:
  - cd infra
  - yarn deploy-frontend
  - echo "Web App successfully deployed."

deploy-backend-job:
  stage: deploy
  script:
  - cd infra
  - yarn start-session
  - cd /grupo-01/backend
  - ./deploy.sh
  - echo "API successfully deployed."

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Make infra scripts cli agnostic
  infra/package.json
Due: none

update gallery add thumbnails
  frontend/src/components/ProductDetailsFeatureItem.jsx
  frontend/src/main.css
  frontend/src/utils/GalleryProduct.jsx
Due: deploy-frontend-job

update gallery responsive
  frontend/src/styles/galleryProduct.module.css
  frontend/src/utils/GalleryProduct.jsx
Due: deploy-frontend-job

update gallery
  frontend/src/utils/GalleryProduct.jsx
Due: deploy-frontend-job

add social share block
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/ProductDetails.jsx
  frontend/src/styles/galleryProduct.module.css
  frontend/src/styles/shareProduct.module.css
  frontend/src/utils/ShareProduct.jsx
Due: deploy-frontend-job

Fix remove jar file path
  backend/deploy.sh
Due: deploy-backend-job

Additional info on current process
  backend/deploy.sh
Due: deploy-backend-job

Moved fetching changes to entry script
  backend/deploy.sh
Due: deploy-backend-job

update style
  frontend/src/styles/shareProduct.module.css
  frontend/src/utils/ShareProduct.jsx
Due: deploy-frontend-job

update alignment
  frontend/src/styles/productDetailsDescription.module.css
  frontend/src/styles/productDetailsFeature.module.css
  frontend/src/styles/productDetailsLocation.module.css
  frontend/src/styles/productDetailsPolitic.module.css
Due: deploy-frontend-job

update alignment
  frontend/src/styles/galleryProduct.module.css
  frontend/src/styles/shareProduct.module.css
Due: deploy-frontend-job

adding booking block to product details page
  frontend/src/components/Body.jsx
  frontend/src/pages/ProductDetails.jsx
  frontend/src/styles/datePicker.css
Due: deploy-frontend-job

update share url
  frontend/src/styles/galleryProduct.module.css
  frontend/src/utils/ShareProduct.jsx
Due: deploy-frontend-job

update ci yml
  .gitlab-ci.yml
Due: none

Path conditions:
  deploy-frontend-job: any of: frontend/**/*
  deploy-backend-job: any of: backend/**/*
