Repository animolina/IntegrationProyectCTD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend-job, build-backend-job, unit-tests-frontend, unit-tests-backend, deploy-frontend-job, deploy-backend-job

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - .npm/

before_script:
  - cd frontend
  - npm ci --cache .npm --prefer-offline

build-frontend-job:
  image: node:latest
  stage: build
  script:
    - echo "Compiling the React app..."
    - npm run build
    - echo "React app built successfully!"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "development"
      changes:
        - frontend/**/*
  artifacts:
    paths:
      - frontend/dist

build-backend-job:
  stage: build
  image: maven:latest
  before_script:
   - []
  script:
    - echo "Compiling the Spring Boot API..."
    - cd backend
    - mvn clean install -D skipTests
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "development"
      changes:
        - backend/**/*
  artifacts:
    paths:
      - backend/target/pi-api.jar

unit-tests-frontend:
  stage: test
  image: node:latest
  script:
    - echo "Running Vitest tests..."
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "development"
      changes:
        - frontend/**/*

unit-tests-backend:
  stage: test
  before_script:
   - []
  script:
    - cd backend
    - echo "Pending to add tests on the frontend project..."
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "development"
      changes:
        - backend/**/*

deploy-frontend-job:
  stage: deploy
  before_script:
   - []
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo "Deploying Web App to S3..."
    - aws s3 sync frontend/dist s3://digital-booking
    - echo "Web App successfully deployed!"
  rules:
    - if: $CI_COMMIT_BRANCH == "development"
      changes:
        - frontend/**/*

deploy-backend-job:
  stage: deploy
  before_script:
   - []
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo "Uploading artifact to S3 proxy bucket"
    - aws s3 cp backend/target/pi-api.jar s3://pi-backend-artifact
    - echo "Installing AWS SSM Manager"
    - curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
    - dpkg -i session-manager-plugin.deb
    - echo "Connecting to the instance and running deploy script"
    - apt-get install expect -y
    - unbuffer aws ssm start-session --target $EC2_INSTANCE_ID --document-name AWS-StartInteractiveCommand --parameters '{"command":["cd ~/pi-api && ./deploy-api.sh"]}'
    - echo "API successfully deployed."
  rules:
    - if: $CI_COMMIT_BRANCH == "development"
      changes:
        - backend/**/*

update
  frontend/src/AppRouter.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Initial commit
  frontend/src/AppRouter.jsx
  frontend/src/assets/icons/plusIcon.svg
  frontend/src/assets/icons/removeIcon.svg
  frontend/src/components/BasicSelect.jsx
  frontend/src/components/CharacteristicItem.jsx
  frontend/src/components/FormField.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/ImageItem.jsx
  frontend/src/components/NewCharacteristic.jsx
  frontend/src/components/NewImage.jsx
  frontend/src/components/PolicyItem.jsx
  frontend/src/context/Store.jsx
  frontend/src/hooks/User.hooks.js
  frontend/src/pages/Login.jsx
  frontend/src/pages/NewProduct.jsx
  frontend/src/services/cacheService.js
  frontend/src/services/characteristicsService.js
  frontend/src/styles/characteristicItem.module.css
  frontend/src/styles/formField.module.css
  frontend/src/styles/header.module.css
  frontend/src/styles/imageItem.module.css
  frontend/src/styles/newCharacteristic.module.css
  frontend/src/styles/newImage.module.css
  frontend/src/styles/newProduct.module.css
  frontend/src/styles/policyItem.module.css
  frontend/src/styles/productPolicies.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

fixed security for ADMIN role and put methods in all controllers
  backend/src/main/java/com/example/piBack/Controller/CategoryController.java
  backend/src/main/java/com/example/piBack/Controller/CharacteristicController.java
  backend/src/main/java/com/example/piBack/Controller/CityController.java
  backend/src/main/java/com/example/piBack/Controller/ImageController.java
  backend/src/main/java/com/example/piBack/Controller/PolicyController.java
  backend/src/main/java/com/example/piBack/Controller/ProductController.java
  backend/src/main/java/com/example/piBack/Controller/ReservationController.java
  backend/src/main/java/com/example/piBack/Controller/UserController.java
  backend/src/main/java/com/example/piBack/Login/SecurityConfiguration.java
  backend/src/main/java/com/example/piBack/Service/ProductService.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

fixed get category by id
  backend/src/main/java/com/example/piBack/Service/CategoryService.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

modified policy section in new product page
  frontend/src/components/FormField.jsx
  frontend/src/components/PolicyItem.jsx
  frontend/src/components/PolicyItemCancellation.jsx
  frontend/src/components/PolicyItemProperty.jsx
  frontend/src/components/PolicyItemSecurity.jsx
  frontend/src/components/ProductPolicies.jsx
  frontend/src/components/RadioButtonCheck.jsx
  frontend/src/pages/NewProduct.jsx
  frontend/src/services/productsService.js
  frontend/src/styles/characteristicItem.module.css
  frontend/src/styles/newCharacteristic.module.css
  frontend/src/styles/newProduct.module.css
  frontend/src/styles/policyItem.module.css
  frontend/src/styles/productPolicies.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

getting data from checked radio buttons
  frontend/src/components/PolicyItemCancellation.jsx
  frontend/src/components/PolicyItemProperty.jsx
  frontend/src/components/PolicyItemSecurity.jsx
  frontend/src/components/ProductPolicies.jsx
  frontend/src/components/RadioButtonCheck.jsx
  frontend/src/pages/NewProduct.jsx
  frontend/src/styles/characteristicItem.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

fixed characteristics selects
  frontend/src/components/BasicSelect.jsx
  frontend/src/components/CharacteristicItem.jsx
  frontend/src/components/FormField.jsx
  frontend/src/components/NewCharacteristic.jsx
  frontend/src/pages/NewProduct.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

added cascade type to policy in product. General fixes for product form
  frontend/src/components/ImageItem.jsx
  frontend/src/components/NewImage.jsx
  frontend/src/components/ProductListCard.jsx
  frontend/src/pages/NewProduct.jsx
  frontend/src/services/productsService.js
  frontend/src/utils/GoogleMap.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

fixed product model
  backend/src/main/java/com/example/piBack/Model/Product.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

fixed reservation get city
  frontend/src/components/BasicSelect.jsx
  frontend/src/pages/NewProduct.jsx
  frontend/src/pages/ProductDetails.jsx
  frontend/src/pages/Reservation.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

fixed typo
  frontend/src/pages/ProductDetails.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

add configuration to reservation methods
  backend/src/main/java/com/example/piBack/Login/SecurityConfiguration.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

update responsive
  frontend/src/styles/basicSelect.module.css
  frontend/src/styles/characteristicItem.module.css
  frontend/src/styles/newCharacteristic.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Agrego test unitarios
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/categoryBlock.test.jsx
  frontend/tests/detailsCard.test.jsx
  frontend/tests/productBlock.test.jsx
  frontend/tests/productDetailsLocation.test.jsx
  frontend/tests/productDetailsMap.test.jsx
  frontend/tests/searchBlock.test.jsx
  frontend/vite.config.js
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Remove duplicate error warning
  frontend/src/components/FormField.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Update README.md
  README.md
Due: none
