Repository animolina/IntegrationProyectCTD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend-job, build-backend-job, unit-tests-frontend, unit-tests-backend, deploy-frontend-job, deploy-backend-job

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - .npm/

before_script:
  - cd frontend
  - npm ci --cache .npm --prefer-offline

build-frontend-job:
  image: node:latest
  stage: build
  script:
    - echo "Compiling the React app..."
    - npm run build
    - echo "React app built successfully!"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "development"
      changes:
        - frontend/**/*
  artifacts:
    paths:
      - frontend/dist

build-backend-job:
  stage: build
  image: maven:latest
  before_script:
   - []
  script:
    - echo "Compiling the Spring Boot API..."
    - cd backend
    - mvn clean install -D skipTests
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "development"
      changes:
        - backend/**/*
  artifacts:
    paths:
      - backend/target/pi-api.jar

unit-tests-frontend:
  stage: test
  image: node:latest
  script:
    - echo "Running Vitest tests..."
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "development"
      changes:
        - frontend/**/*

unit-tests-backend:
  stage: test
  before_script:
   - []
  script:
    - cd backend
    - echo "Pending to add tests on the frontend project..."
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "development"
      changes:
        - backend/**/*

deploy-frontend-job:
  stage: deploy
  before_script:
   - []
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo "Deploying Web App to S3..."
    - aws s3 sync frontend/dist s3://digital-booking
    - echo "Web App successfully deployed!"
  rules:
    - if: $CI_COMMIT_BRANCH == "development"
      changes:
        - frontend/**/*

deploy-backend-job:
  stage: deploy
  before_script:
   - []
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo "Uploading artifact to S3 proxy bucket"
    - aws s3 cp backend/target/pi-api.jar s3://pi-backend-artifact
    - echo "Installing AWS SSM Manager"
    - curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
    - dpkg -i session-manager-plugin.deb
    - echo "Connecting to the instance and running deploy script"
    - apt-get install expect -y
    - unbuffer aws ssm start-session --target $EC2_INSTANCE_ID --document-name AWS-StartInteractiveCommand --parameters '{"command":["cd ~/pi-api && ./deploy-api.sh"]}'
    - echo "API successfully deployed."
  rules:
    - if: $CI_COMMIT_BRANCH == "development"
      changes:
        - backend/**/*

adding specifications for reservation filters
  backend/src/main/java/com/example/piBack/Controller/ReservationController.java
  backend/src/main/java/com/example/piBack/Repository/ReservationRepository.java
  backend/src/main/java/com/example/piBack/Service/ReservationService.java
  backend/src/main/java/com/example/piBack/Specification/ReservationSpecifications.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

fixed reservation controller
  backend/src/main/java/com/example/piBack/Controller/ReservationController.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

Create generic Alert Component
  frontend/src/assets/icons/check-circle.svg
  frontend/src/assets/icons/exclamation-triangle.svg
  frontend/src/components/Alert.jsx
  frontend/src/components/BookingBlock.jsx
  frontend/src/components/CartelWarning.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/SignUp.jsx
  frontend/src/services/authService.js
  frontend/src/styles/alert.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Simplify alert state
  frontend/src/components/BookingBlock.jsx
  frontend/src/pages/Login.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Fixes
  frontend/src/pages/Login.jsx
  frontend/src/pages/SignUp.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Fix unit test
  frontend/tests/alert.test.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

basic implementation to get reservations
  frontend/src/components/DatePicker.jsx
  frontend/src/context/Store.jsx
  frontend/src/pages/ProductDetails.jsx
  frontend/src/services/getReservationByProductId.js
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

adding request to reservations endpoint
  frontend/src/components/DatePicker.jsx
  frontend/src/context/Store.jsx
  frontend/src/services/getReservationByProductId.js
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

reservation controller
  backend/src/main/java/com/example/piBack/Controller/ReservationController.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

Revert "reservation controller"
  backend/src/main/java/com/example/piBack/Controller/ReservationController.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

FRONTEND - General improvements
  backend/applog.txt
  frontend/.env.localhost
  frontend/package.json
  frontend/src/components/DatePicker.jsx
  frontend/src/components/DetailsCard.jsx
  frontend/src/components/ProductDetailsDescription.jsx
  frontend/src/components/ProductDetailsHeader.jsx
  frontend/src/components/ProductDetailsLocation.jsx
  frontend/src/components/ProductDetailsPolicy.jsx
  frontend/src/components/ProductListCard.jsx
  frontend/src/components/SearchBlock.jsx
  frontend/src/context/Store.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/ProductDetails.jsx
  frontend/src/services/apiService.js
  frontend/src/services/getCategories.js
  frontend/src/services/getCities.js
  frontend/src/services/getFeatures.js
  frontend/src/services/getPolicy.js
  frontend/src/services/getProductById.js
  frontend/src/services/getProducts.js
  frontend/src/services/getReservationByProductId.js
Due: build-frontend-job, build-backend-job, unit-tests-frontend, unit-tests-backend, deploy-frontend-job, deploy-backend-job

change gitignore file to push .env
  frontend/.env
  frontend/.gitignore
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

adding .env to gitignore
  frontend/.gitignore
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

fixed gitignore, add configurations to display blocked reservation dates
  frontend/.gitignore
  frontend/src/components/DatePicker.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

add hasAuthority
  backend/src/main/java/com/example/piBack/Controller/ProductController.java
  backend/src/main/java/com/example/piBack/Login/SecurityConfiguration.java
  backend/src/main/resources/application.properties
Due: build-backend-job, unit-tests-backend, deploy-backend-job

fixed gitignore
  frontend/.gitignore
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

fixed gitignore file
  frontend/.gitignore
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

hasRole 2.0
  backend/src/main/java/com/example/piBack/Controller/ProductController.java
  backend/src/main/java/com/example/piBack/Login/SecurityConfiguration.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

Increase token expiration time
  backend/src/main/java/com/example/piBack/Login/JwtUtil.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

Initial commit
  frontend/src/components/BasicSelect.jsx
  frontend/src/components/BookingBlock.jsx
  frontend/src/components/DatePicker.jsx
  frontend/src/components/DetailsCard.jsx
  frontend/src/components/FormField.jsx
  frontend/src/components/Input.jsx
  frontend/src/context/Store.jsx
  frontend/src/hooks/User.hooks.js
  frontend/src/mockedData/times.json
  frontend/src/pages/Login.jsx
  frontend/src/pages/ProductDetails.jsx
  frontend/src/pages/Reservation.jsx
  frontend/src/pages/SignUp.jsx
  frontend/src/services/apiService.js
  frontend/src/services/cacheService.js
  frontend/src/services/getProductById.js
  frontend/src/services/getProducts.js
  frontend/src/services/getReservationByProductId.js
  frontend/src/services/productsService.js
  frontend/src/services/reservationsService.js
  frontend/src/styles/basicSelect.module.css
  frontend/src/styles/detailsCard.module.css
  frontend/src/styles/input.module.css
  frontend/src/styles/reservation.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Fixes
  frontend/src/pages/Reservation.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

Typo
  frontend/src/pages/Reservation.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

add my reservations
  frontend/src/AppRouter.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/ProductDetailsHeader.jsx
  frontend/src/context/Store.jsx
  frontend/src/pages/MyReservations.jsx
  frontend/src/services/getMyReservations.js
  frontend/src/styles/header.module.css
  frontend/src/styles/myReservations.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

update styles
  frontend/src/pages/MyReservations.jsx
  frontend/src/styles/myReservations.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

fixed disabled dates in booking calendar
  frontend/src/pages/ProductDetails.jsx
  frontend/src/pages/Reservation.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

delete console log
  frontend/src/pages/ProductDetails.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

update styles
  frontend/src/pages/MyReservations.jsx
  frontend/src/pages/Unsuccessful.jsx
  frontend/src/styles/myReservations.module.css
  frontend/src/styles/unsuccessfulReservation.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

update icon
  frontend/src/assets/icons/iconUnsuccess.svg
  frontend/src/pages/Unsuccessful.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

dtos and endpoint to get booked reservations by user id
  backend/src/main/java/com/example/piBack/Controller/ProductController.java
  backend/src/main/java/com/example/piBack/Controller/ReservationController.java
  backend/src/main/java/com/example/piBack/DTO/ProductWithoutReservationsDTO.java
  backend/src/main/java/com/example/piBack/DTO/ReservationDTO.java
  backend/src/main/java/com/example/piBack/Login/SecurityConfiguration.java
  backend/src/main/java/com/example/piBack/Model/Reservation.java
  backend/src/main/java/com/example/piBack/Service/ProductService.java
  backend/src/main/java/com/example/piBack/Service/ReservationService.java
  backend/src/main/java/com/example/piBack/Specification/ProductSpecifications.java
  backend/src/main/java/com/example/piBack/Specification/ReservationSpecifications.java
  backend/src/main/resources/application.properties
Due: build-backend-job, unit-tests-backend, deploy-backend-job

delete antmatcher for non existing endpoint
  backend/src/main/java/com/example/piBack/Login/SecurityConfiguration.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

delete comment
  backend/src/main/java/com/example/piBack/Service/ReservationService.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

adding security config to allow swagger
  backend/src/main/java/com/example/piBack/Login/SecurityConfiguration.java
Due: build-backend-job, unit-tests-backend, deploy-backend-job

add products
  frontend/src/components/ProductCard.jsx
  frontend/src/components/ProductListCard.jsx
  frontend/src/mockedData/reservations.json
  frontend/src/pages/MyReservations.jsx
  frontend/src/styles/productCard.module.css
  frontend/src/styles/unsuccessfulReservation.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

update reservations list
  frontend/src/context/Store.jsx
  frontend/src/pages/MyReservations.jsx
  frontend/src/services/getMyReservations.js
  frontend/src/styles/myReservations.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

update url
  frontend/src/components/Header.jsx
  frontend/src/services/getMyReservations.js
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

add not found page update star rating
  frontend/src/AppRouter.jsx
  frontend/src/components/DetailsCard.jsx
  frontend/src/components/ProductDetailsLocation.jsx
  frontend/src/pages/NotFound404.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

add confetti effect
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Successful.jsx
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

working on my reservations page
  frontend/src/AppRouter.jsx
  frontend/src/components/ProductCard.jsx
  frontend/src/context/Store.jsx
  frontend/src/pages/MyReservations.jsx
  frontend/src/pages/ReservationDetails.jsx
  frontend/src/services/getMyReservations.js
  frontend/src/services/reservationsService.js
  frontend/src/styles/productCard.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

change date format in product reservation detail card
  frontend/src/components/ProductCard.jsx
  frontend/src/pages/ReservationDetails.jsx
  frontend/src/styles/productCard.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job

add product policies
  frontend/src/AppRouter.jsx
  frontend/src/components/PolicyItem.jsx
  frontend/src/components/ProductPolicies.jsx
  frontend/src/pages/Test.jsx
  frontend/src/styles/policyItem.module.css
  frontend/src/styles/productPolicies.module.css
Due: build-frontend-job, unit-tests-frontend, deploy-frontend-job
